<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <a href="/" class="logo">
        <img src="/assets/images/next3labs-logo.png" alt="NEXT3LABS" height="32">
        <span>NEXT3LABS</span>
      </a>
      {% include "nav.njk" %}
    </div>
  </div>
</header>
