<header class="site-header">
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">
        <img src="/assets/images/next3labs-logo.png" alt="NEXT3LABS Logo" class="logo-image">
        <span class="logo-text">{{ site.title }}</span>
      </a>
      {% include "nav.njk" %}
    </div>
  </div>
</header>
